<!DOCTYPE html>
<html lang="en">
<style>
h1 {text-align: center; color: #008080}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Xin chào Nhật Vy 👻</h1>
    <p>Đầu tiên thì nhân ngày sinh nhật thứ 19 của em, anh xin gửi lời chúc trân trọng và iu thưn nhất
        đến với em nè. Anh biết trang web này nhìn rất là bần :))) nhưng anh đã cố gắng hết sức gòi ạ. 
        Nhưng mà ai biết đâu, trong tương lai trang web này sẽ còn xịn xò hơn nữa thì seo 😉. 
    </p>
    <p>
        Với những lời chúc, thì anh chúc em sẽ biết giữ gìn sức khỏe, yêu thương bản thân thêm nè. Như là ngủ đủ giấc, ăn uống đầy đủ nè.
        Chúc em đạt được những thành công trong công việc và học tập nữa nè. 
        Trong thời gian qua, anh biết mình đã trải qua rất nhiều vấn đề, và cả anh và em đều đã rất buồn, nhất là em í.
        Anh cũng biết là anh đã mắc rất nhiều lỗi lầm, và anh cũng cực kì biến ơn em khi đã bỏ qua những lỗi lầm đó và sẵn sàng tiếp tục cùng anh í.
        Hừm hừm, còn về chuyện của mình, thì anh thật sự cần thời gian để nghĩ ngợi và reset lại bản thân mình nữa nè. Anh mong em có thể thông cảm điều này cho anh á.
        Mình đã có rất nhiều kỉ niệm khi ở bên cạnh nhau, đồng thời với tình cảm của anh nữa, tất cả những thứ đấy đã níu giữ anh khi anh cảm thấy buồn.
        Cuối cùng thì anh vẫn quyết định ở lại, tiếp tục cùng cố gắng với em. Tuy nhiên, như anh nói ở trên í, anh mong em có thể cho anh thời gian tịnh tâm lại và trở lại làm một người bạn trai tốt, trước hết là tốt như xưa.
    </p>
    <p>Anh cũng hong phải là người có nhiều chữ trong đầu, hiện tại nó là thế hoi, mong ủn ủn đừng thắc mắc dới anh quá nhìu ạ @@ Thì thay cho chữ, em có thể ngắm lại những kỉ niệm của mình nè 💖</p>
    <img src = "000011.jpg" alt = "Ảnh mình chụp ở trường nè">
    <img src = "000035.jpg" alt = "Ảnh mình chụp ở Sala, trước khi làm mất cuộn phim @@">
    <img src = "000019.jpg" alt = "Ảnh tụi mình chụp ở trong lớp, lúc mình tập tành thử cái hẹn giờ, anh với em còn hong biết khi nào nó chụp nựa">
    <img src = "000021.jpg" alt = "Dù mình dầm mưa ướt nhẹp, nhưng ủn ủn vẫn cười rất tươi ạa">

</body>
</html>